.btn {
   background-color: #021d6d;
   padding: 20px 90px;
   color:white;
   border:3px solid #264dc1;
   cursor:pointer;
   font-size: 18px;
   font-weight: bold;
}
.btn:hover{
    background: orange;
}

#buttonGroup{
    text-align: center;
    
}
h1{
    font-size: 4em;
    text-align:center;
    color: white;
    border:3px solid #264dc1;
    background-color: #021d6d;
}
#logo{
    width:10;
    height: 10;
}
#passwordPic{
    
    padding: 50px;
    float:left;
}

#indexText{
    padding: 20px;
    font-size: 3em;
    color:#021d6d;
}
footer{
    clear:both;
    color:#021d6d;
    text-align: center;
}
#toonComp{
    padding: 50px;
    border-color:blue;
    float:left;
}
#chooseRules{
    padding:35px;
    font-size: 2em;
    color:#021d6d;
}
#choosePIC{
    border: 10px solid #021d6d;
}
#dontRules{
    color:#021d6d;
    font-size: 2em;
    float: left;
}
#stopImage{
    float:right;
    padding: 10px;
}
body{
    background-color: #b8c4d8;
}
li{
    padding: 15px 0px;
}